{{extend 'layout.html'}}

<header>
  <div style="padding-top:100px" class="container-fluid bg-2 text-center">
    <h2>Parameter Balancing Online</h2>
  </div>
</header>

<main>
  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
	<article>
	  <header>
	    <h3>Option 1: Separate Input Files</h3>
	  </header>
	  <!---------------------------------SBML-------------------------------------------->
	  Upload an SBML model (obligatory), and SBtab parameter, prior, or config files (optional).<hr>
	  {{if not SBML_NAMES:}}
	  <div class="container-fluid" style="padding-bottom:0px">
	    {{=SBML_FORM}}
	  </div>
	  {{else:}}
	  <div class="container-fluid" style="padding-bottom:5px">
	    <h4>
	      <a href="/pb/default/show_sbml/{{=str(0)}}" target="_new"> {{=SBML_NAMES[0]}}</a>
	    </h4>
	    <form style="padding-top:10px">
	      <button class="btn btn-primary" type="submit" value="{{=str(0)}}" name="erase_button_sbml">Remove</button>
	    </form>
	  </div>
	  
	  <!-- Display warnings -->
	  {{pass}}
	  {{if WARNINGS_SBML:}}
	  <div>
	    <font color="red">{{=WARNINGS_SBML[0]}}</font>
	  </div>
	  {{elif SBML_NAMES:}}
	  <div>
	    No warnings detected.
	  </div>
	  {{pass}}
	  {{pass}}
	  
	  <!---------------------------------SBTAB-------------------------------------------->
	  <hr>
	  {{if not SBTAB_NAMES:}}
	  <div class="container-fluid" style="padding-bottom:0px">
	    {{=SBTAB_FORM}}
	  </div>
	  {{else:}}
	  <div class="container-fluid" style="padding-bottom:5px">
	    <h4>
	      <a href="/pb/default/show_sbtab/{{=str(0)}}" target="_new"> {{=SBTAB_NAMES[0]}}</a>
	    </h4>
	    <form style="padding-top:10px">
	      <button class="btn btn-primary" type="submit" value="{{=0}}" name="erase_button_sbtab">Remove</button>
	    </form>
	  </div>
	  {{pass}}
	  <!-- Display warnings -->
	  {{if WARNINGS_SBTAB:}}
	  {{for f in WARNINGS_SBTAB:}}
	  <div>
	    <font color="red">{{=f}}</font>
	  </div>
	  {{pass}}
	  {{elif SBTAB_NAMES:}}
	  <div>
	    No warnings detected.
	  </div>
	  {{pass}}
	  {{pass}}

	  <!---------------------------------PRIOR-------------------------------------------->
	  <hr>
	  {{if not PRIOR_NAMES:}}
	  <div class="container-fluid" style="padding-bottom:0px">
	    {{=PRIOR_FORM}}
	  </div>
	  {{else:}}
	  <div class="container-fluid" style="padding-bottom:5px">
	    <h4>
	      <a href="/pb/default/show_prior/{{=str(0)}}" target="_new"> {{=PRIOR_NAMES[0]}}</a>
	    </h4>
	    <form style="padding-top:10px">
	      <button class="btn btn-primary" type="submit" value="{{=0}}" name="erase_button_prior">Remove</button>
	    </form>
	  </div>
	  {{pass}}
	
	  <!-- Display warnings -->
	  {{if WARNINGS_PRIOR:}}
	  <div>
	    <font color="red">{{=WARNINGS_PRIOR[0]}}</font>
	  </div>
	  {{elif PRIOR_NAMES:}}
	  <div>
	    No warnings detected.
	  </div>
          {{pass}}

	  <!---------------------------------CONFIG-------------------------------------------->
	  <hr>
	  {{if not CONFIG_FILE:}}
	  <div class="container-fluid" style="padding-bottom:0px">
	    {{=CONFIG_FORM}}
	  </div>
	  {{else:}}
	  <div class="container-fluid" style="padding-bottom:5px">
	    <h4>
	      <a href="/pb/default/show_sbtab_conf/{{=str(0)}}" target="_new"> {{=CONFIG_FILENAME}}</a>
	    </h4>
	    <form style="padding-top:10px">
	      <button class="btn btn-primary" type="submit" value="{{=0}}" name="erase_button_config">Remove</button>
	    </form>	    
	  </div>
	  {{pass}}

	  <!-- Display warnings -->
	  {{if WARNINGS_CONFIG:}}
	  <div>
	    <font color="red">{{=WARNINGS_CONFIG[0]}}</font>
	  </div>
	  {{elif CONFIG_FILE:}}
	  <div>
	    No warnings detected.
	  </div>
	  {{pass}}

	  <hr>
	  {{if SBML_NAMES:}}
	  <form>
	    <button class="btn-info btn-lg" type="submit" value="{{=str(0)}}" name="balance_classic">Balance Parameters</button>
          </form>
	  {{pass}}
	  
	  <hr>
	  You can find example files on the <a href="/pb/static/css/css_template/download.html">Download page</a>.
	  <hr>
	  <div>
	    If your session appears crooked or yields incomprehensible errors, please <form><button type="submit" value="{{=str(0)}}" name="clearsession">Clear Session</button></form>
	  </div>
	</article>
      </div>


      <!------------------------------------------------------------------------------------>
      
      <div class="col-sm-4">
	<article>
	  <header>
	    <h3>Option 2: Single Input File</h3>
	    </header>
	  Upload a single SBtab file that holds model information (obligatory) and
	parameter, prior, or config information (optional).<hr>
	  {{if not SBTAB_FL_NAMES:}}
	  <div class="container-fluid" style="padding-bottom:0px">
	    {{=SBTAB_FL_FORM}}
	  </div>
	  {{else:}}
	  <div class="container-fluid" style="padding-bottom:5px">
	    <a href="/pb/default/show_sbtab_fl/{{=str(0)}}" target="_new"> {{=SBTAB_FL_NAMES[0]}}</a>
	    <form style="padding-top:10px">
	      <button type="submit" value="{{=0}}" name="erase_button_fl">Remove</button>
	    </form>
	  </div>
	  {{pass}}
	  <!-- Display warnings -->
	  {{if WARNINGS_SBTAB_FL:}}
	  <div>
	    <font color="red">{{=WARNINGS_SBTAB_FL[0]}}</font>
	  </div>
	  {{elif SBTAB_FL_NAMES:}}
	  <div>
	    No warnings detected.
	  </div>
	  {{pass}}
	  {{pass}}
	  <!---------------------------------BALANCE-------------------------------------------->
	  {{if SBTAB_FL_NAMES:}}
	  <hr>
	  <form>
	    <button class="btn-info btn-lg" type="submit" value="{{=str(0)}}" name="balance_fastlane">Balance Parameters</button>
	  </form>
	  {{pass}}
	</article>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-sm-12" align="center">
	<hr>
	Information on the use of online balancing can be found on the <a href="../static/css/css_template/documentation.html">documentation page</a>.
      </div>
    </div>
  </div>
</main>

<hr>
<footer class="container-fluid bg-3 text-center">
  <p>Thanks to <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> and <a href="http://web2py.com/" target="_blank">Web2py</a>. Code and further information on <a href="https://github.com/tlubitz/parameter_balancing" target="_blank">Github</a>.</p> 
</footer>


    
