{{extend 'layout.html'}}
    <hr style="width:900;float:left;"><br>
    
    <p style="margin-left:250;">
      <a href="/pb/static/main.html">Main</a> |
      Online Balancing |
      <a href="/pb/static/documentation.html">Documentation</a> |
      <a href="/pb/static/download.html">Download</a> |
      <a href="/pb/static/contact.html">Contact</a>
    </p>
    
    <div style="background-color:CDCCCB;width:900"><h2>Parameter Balancing Online</h2></div>

    <table>
      <th style="width:430">
	<!---------------------------------SBML-------------------------------------------->
	<h3 align="left">Option 1: Separate Input Files</h3>
	<p>Upload an SBML model (obligatory), and SBtab parameter, prior, or config files (optional).</p><hr>
	{{if not SBML_NAMES:}}
	{{=SBML_FORM}}
	{{else:}}
	<table border="0" cellspacing="5">
	  <table border="1" rules="rows" cellspacing="5" cellpadding="5" align="center">
	    <td bgcolor="#87CEFA">
	    <td bgcolor="#87CEFA" height="20"></td>
	    <!-- The file and corresponding button -->
	    <tr>
	      <td>
		&bull;
		<a href="/pb/default/show_sbml/{{=str(0)}}" target="_new"> {{=SBML_NAMES[0]}}</a>
	      </td>
	      <form>
		<td>
		  <button type="submit" value="{{=str(0)}}" name="erase_button_sbml">Remove</button>
		</td>
	      </form>
	    </tr>
	    </td>
	  </table>
	  <!-- Display warnings -->
	  {{pass}}
	  {{if WARNINGS_SBML and SBML_NAMES:}}
	  <table border="0" cellspacing="5">
	    <tr>
	      <td>
	      <td>
		<font color="red">{{=WARNINGS_SBML[0]}}</font>
	      </td>
	      </td>
	    </tr>
	    <tr></tr><tr></tr>
	  </table>
	  {{elif SBML_NAMES:}}
	  <table border="0" cellspacing="5">
	    <tr>
	      <td> No warnings detected. </td>
	    </tr>
	    <tr></tr><tr></tr>
	  </table>

	  {{pass}}
	  {{pass}}
	  
	  <!---------------------------------SBTAB-------------------------------------------->
	  <hr>
	    {{if not SBTAB_NAMES:}}	  
	    {{=SBTAB_FORM}}
	    {{else:}}
	  <table border="1" rules="rows" cellspacing="5" cellpadding="5" align="center">
	      <td bgcolor="#87CEFA">
	      <td bgcolor="#87CEFA" height="20"></td>
		<!-- The file list and corresponding buttons -->
		<tr>
		  <td>
		    &bull;
		    <a href="/pb/default/show_sbtab/{{=str(0)}}" target="_new"> {{=SBTAB_NAMES[0]}}</a>
		  </td>
		  <form>
		    <td>
		      <button type="submit" value="{{=0}}" name="erase_button_sbtab">Remove</button>
		    </td>
		  </form>
		</tr>
		</td>
	      </table>
	  {{pass}}
	  <!-- Display warnings -->
	  {{if WARNINGS_SBTAB and SBTAB_NAMES:}}
	      <table border="0">
		{{for f in WARNINGS_SBTAB:}}
		<tr>
		  <td>
		  <td><font color="red">{{=f}}</font></td>
		  </td>
		</tr>
		{{pass}}
	      </table>
	      {{elif SBTAB_NAMES:}}
	      <table border="0">
		<td> No warnings detected. </td>
	      </table>

	      </td>
	      {{pass}}
	      {{pass}}
	  <!---------------------------------PRIOR-------------------------------------------->
	  <hr>
	{{if not PRIOR_NAMES:}}
	{{=PRIOR_FORM}}
	{{else:}}

	  <table border="1" rules="rows" cellspacing="5" cellpadding="5" align="center">
	    <td bgcolor="#87CEFA">
	    <td bgcolor="#87CEFA" height="20"></td>
	    <!-- The file list and corresponding buttons -->
	    <tr>
	      <td>
		&bull;
		<a href="/pb/default/show_prior/{{=str(0)}}" target="_new"> {{=PRIOR_NAMES[0]}}</a>
	      </td>
	      <form>
		<td>
		  <button type="submit" value="{{=0}}" name="erase_button_prior">Remove</button>
		</td>
	      </form>


	    </tr>

	    </td>
	  </table>
	  {{pass}}

	  <!-- Display warnings -->
	  {{if WARNINGS_PRIOR:}}
	  <table border="0">
	    <tr>
	      <td>
		<td><font color="red">{{=WARNINGS_PRIOR[0]}}</font></td>
	      </td>
	    </tr>
	  </table>
	  {{elif PRIOR_NAMES:}}
	  <table border="0">
	    <td> No warnings detected.</td>
	  </table>

        {{pass}}

	  <!---------------------------------CONFIG-------------------------------------------->
	  <hr>
	{{if not CONFIG_FILE:}}
	{{=CONFIG_FORM}}
	{{else:}}

	  <table border="1" rules="rows" cellspacing="5" cellpadding="5" align="center">
	    <td bgcolor="#87CEFA">
	    <td bgcolor="#87CEFA" height="20"></td>
	    <!-- The file list and corresponding buttons -->
	    <tr>
	      <td>
		&bull;
		<a href="/pb/default/show_sbtab_conf/{{=str(0)}}" target="_new"> {{=CONFIG_FILENAME}}</a>
	      </td>
	      
	      <form>
		<td>
		  <button type="submit" value="{{=0}}" name="erase_button_config">Remove</button>
		</td>
	      </form>


	    </tr>

	    </td>
	  </table>
	  {{pass}}

	  <!-- Display warnings -->
	  {{if WARNINGS_CONFIG and CONFIG_FILE:}}
	  <table border="0">
	    <tr>
	      <td>
		<td><font color="red">{{=WARNINGS_CONFIG[0]}}</font></td>
	      </td>
	    </tr>
	  </table>
	  {{elif CONFIG_FILE:}}
	  <table border="0">
	    <td> No warnings detected.</td>
	  </table>
	  {{pass}}

          <p>
	    You can find example files on the <a href="/pb/static/download.html">Download page</a>.
          </p>
	  <hr>
          <p>
	    If your session appears crooked or yields incomprehensible errors, please <form><button type="submit" value="{{=str(0)}}" name="clearsession">Clear Session</button></form>
          </p>

	  <!---------------------------------BALANCE-------------------------------------------->
	  {{if SBML_NAMES:}}
	  <hr>
	  <table border="0" rules="rows" cellspacing="5" cellpadding="5" align="center">
	    <tr>
	      <form>
		<td>
		  ------><button type="submit" value="{{=str(0)}}" name="balance_classic"><h2>Balance Parameters</h2></button><------
		</td>
	      </form>
	    </tr>
	    </table>
	    {{pass}}

</th>

<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
<!------------------------------------------------------------------------------------>
      <th valign="top" style="width:430">
	<h3 align="left">Option 2: Single Input File</h3>
	<p>Upload a single SBtab file that holds model information (obligatory) and
	  parameter, prior, or config information (optional).</p><hr>
	{{if not SBTAB_FL_NAMES:}}
	{{=SBTAB_FL_FORM}}
	{{else:}}
	  <table border="1" rules="rows" cellspacing="5" cellpadding="5" align="center">
	    <td bgcolor="#87CEFA" height="20"></td>
	    <td bgcolor="#87CEFA" height="20"></td>
	    <tr>
	      <td>
		&bull;
		<a href="/pb/default/show_sbtab_fl/{{=str(0)}}" target="_new"> {{=SBTAB_FL_NAMES[0]}}</a>
	      </td>
	      <form>
		<td>
		  <button type="submit" value="{{=0}}" name="erase_button_fl">Remove</button>
		</td>
	      </form>
	    </tr>
	    </td>
	  </table>
          {{pass}}
	  <!-- Display warnings -->
	  {{if WARNINGS_SBTAB_FL:}}
	  <table border="0" cellspacing="5">
	    <tr>
	      <td>
		<font color="red">{{=WARNINGS_SBTAB_FL[0]}}</font>
	      </td>
	    </tr>
	  </table>
	  {{elif SBTAB_FL_NAMES:}}
	  <table border="0" cellspacing="5">
	    <td> No warnings detected. </td>
	  </table>
	  {{pass}}
	  {{pass}}
	  <!---------------------------------BALANCE-------------------------------------------->
	  {{if SBTAB_FL_NAMES:}}
	  <hr>
	  <table border="0" rules="rows" cellspacing="5" cellpadding="5" align="center">
	    <tr>
	      <form>
		<td>
		  ------><button type="submit" value="{{=str(0)}}" name="balance_fastlane"><h2>Balance Parameters</h2></button><------
		</td>
	      </form>
	    </tr>
	    </table>
	    {{pass}}

  
      </th>
</table>



      <table>
	<td>
	  <hr style="background-color:CDCCCB;width:900">
	  Information on the use of online balancing can be found on the <a href="../static/documentation.html#wf">documentation page</a>.<br>
	</td>
       </table>
     

    
